* {
	box-sizing: border-box;
}
.country {
	color: black;
}
.country:hover {
	color: blue;
	cursor: pointer;
	outline: none;
}

.container_boards {
	display: flex;
	width: 500px;
	background-color: lightcyan;
}

.main {
	display: flex;
	flex-direction: row;
}
.data {
	flex: 1;
}
.container_button {
	flex: 0.2;
	padding: 8px;
}
.button {
	cursor: pointer;
	outline: none;
}

.city {
	color: black;
}
.city:hover {
	color: blue;
	cursor: pointer;
	outline: none;
}
